.speaker {
  display: flex;
  position: relative;
  overflow-x: scroll;
}

.speaker-detail {
  border-radius: 6px;
  max-width: 350px;
  text-align: center;
  margin-top: 80px;
  margin-right: 50px;
  margin-left: 30px;
}

.speaker-img {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 100%;
  margin: -60px auto 0;
}
.speaker-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speaker-info {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: white;
}

.speaker::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1160px){
  .speaker{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .speaker-detail{
    justify-content: center;
    margin: auto;
  }

  

  
}