footer {
    width: 100vw;
    min-height: 20vh;
    border-top: 2px solid white;
    color: white;
}
.footer-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.contact-area {
    margin: 0 auto;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.contact-area a {
    color: white;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons img {
    height: 25px;
    margin: 5px;
}
.icons img:hover {
    transform: scale(1.1);
}
h4 {
    margin: 0;
}
.links {
    display: flex;
}
.links-nav {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.links-nav a {
    color: white;
    text-decoration: none;
}
.links-nav a:hover {
    color: #A4161A;
}
.meta {
    margin: 20px 0;
}
.meta p:first-child {
    color: grey;
}
.meta p:last-child {
    margin-top: 20px;
}

@media only screen and (max-width: 812px) {
    .footer-content {
        width: 100%;
    }
}