.speaker {
    display: flex;
    overflow-x: scroll;
    /* justify-content: center;  */
    align-items: center;
}

.speaker-img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px 20px 20px 15px;
    flex-shrink: 0;
    /* display: flex;  */
    /* align-items: center;  */
    /* justify-content: center;  */
}

.speaker-details {
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    text-align: center;

    max-width: 191px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px 20px 20px 15px;
    flex-shrink: 0;
}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.speaker::-webkit-scrollbar {
    display: none;
}