.speaker {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
}

.speaker-img {
  max-width: 150px;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 15px 20px 20px 15px;
  flex-shrink: 0;
}

.speaker-details {
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;

  max-width: 180px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: 25px 30px 30px 25px;
  flex-shrink: 0;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.speaker::-webkit-scrollbar {
  display: none;
}